.character-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 70%;
    width: 60%;
    background-color:rgba(158, 158, 158, 0.25);
    box-shadow: 0px 8px 10px rgba(2, 2, 2, 0.25);
}
@media (max-width: 768px) {
  .character-data {
    flex-direction: column;
  }
}
.character-data__image {
  position: relative;
  width: 40%;
  height: 70%;
  margin-right: 40px;
}
@media (max-width: 768px) {
  .character-data__image {
    width: 100%;
    margin-right: 0px;
  }
}
.character-data__hero-image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.character-data__hero-image:hover {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
}
.character-data__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-star;
  width: 45%;
  height: 70%;
  background-color: rgb(56, 56, 56);
  color: white;
  font-size: 20px;
  border-radius: 20px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: auto;
  text-align: center;
}
@media (max-width: 768px) {
  .character-data__description {
    justify-content: flex-start;
    width: 100%;
  }
}
.character-data__description:hover {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
}

.character-data__hero-name-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.character-data__hero-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2em;
}

.character-data__text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}
.character-data__text {
  width: 80%;
  font-size: 0.9em;
  margin-left: 2px;
  margin-right: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}