.bars {
    display: flex;
    flex-direction: row;
    justify-content: center; /*alinha na flex-direction*/
    align-items: center; /*alinha no oposto da flex-direction*/

    height: 70px;

    background-color: rgb(27, 27, 27);
}

.bars.bars_header {
    border-bottom: 1px solid #bd0101;
}

.header-image{
  width: 300px;
  height: 40px;
}

.bars.bars_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #bd0101;
}

.bars-footer__image {
    width: 120px;
    height: 40px;
}

.bars-footer__info {
    width: 20%;
    height: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.bars-footer__text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color: rgb(202, 202, 202);
    text-decoration: none;
}

.bars-footer__text:hover {
    text-decoration: underline;
    cursor: pointer;
}