.search {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 35%;
    height: 40px;
    border-radius: 100px;
    border-style: none;
    background-color: white;
    
    box-shadow: 0 1px 3px rgba(158, 158, 158, 0.25), 0 1px 2px rgba(158, 158, 158, 0.25);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
@media (max-width: 768px) {
    .search {
      width: 70%;
    }
  }
.search__box {
    position: relative;
    width: 88%;
    height: 100%;
    font-size: 20px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 100px;
    border-style: none;
    background-color: transparent;

    padding-left: 20px;
    left: 0px;
}
.search:hover {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
}
.search__image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
    width: 28px;
    height: 28px;
}